#
# 2019-12-01
# Injabie3
#
# Description:
# iDOLM@STER Cinderella Girls Starlight Stage
# deresute.me Image Archiver
# User ID to private ID mapping file.
# 
declare -A DERESUTE_PROFILE
DERESUTE_PROFILE[123456789]=YourPrivateIdHere
DERESUTE_PROFILE[987654321]=AnotherPrivateIdHere
