#
# 2019-12-01
# Injabie3
#
# Description:
# iDOLM@STER Cinderella Girls Starlight Stage
# deresute.me Image Archiver
# Script config file.
# 
DATA_PATH="/path/to/data"
LOCAL_DATA_PATH="/path/to/local-data"
PUB_PATH="/path/to/public/storage"

declare -A DERESUTE_PROFILE
DERESUTE_PROFILE[123456789]=YourPrivateIdHere
DERESUTE_PROFILE[987654321]=AnotherPrivateIdHere
