# 2020-03-07
# Injabie3
#
# Description:
# VHD backup settings file

$BackupDate = Get-Date -format "yyyy-MM-dd"

# Backup source
$SourceFolder = "C:\Your\Path\Here"

# Backup destinations
# (Description, Path)
$DestinationMain = ("Description", "C:\Your\Path\Here\$BackupDate")
$DestinationsLocal =
@(("Description", "C:\Your\Path\Here\$BackupDate"),
  ("Description", "C:\Your\Path\Here\$BackupDate"))
$DestinationsRemote =
@(("Description", "\\Your\Path\Here\$BackupDate"),
  ("Description", "\\Your\Path\Here\$BackupDate"))

# Discord
$DiscordTitle = "Monthly Backups"

$Logfile = "C:\Your\Path\Here"
$LogfileAppend = "C:\Your\Path\Here"
$EmailFrom = "no-reply@injabie3.tk"
$EmailTo = "destination@example.com"

# VMs
$VMsOn = "VM-Name1","VM Name2"
$VMsOff = $VMsOn,"VM-Name3"

$ComputerName = (Get-CIMInstance CIM_ComputerSystem).Name
$EmailSubject = "${ComputerName} - Hyper-V Backup Log: $BackupDate"
$Username = "no-reply@injabie3.tk"
$Password = "your-password-here"