# 2020-03-07
# Injabie3
#
# Description:
# VHD backup settings file

$BackupDate = Get-Date -format "yyyy-MM-dd"

# Backup source
$SourceFolder = "C:\Your\Path\Here"

# Backup destinations
# (Description, Path)
# Comma before first element if you only have one.
$DestinationMain = ("Description", "C:\Your\Path\Here\$BackupDate")
$DestinationsLocal =
@(("Description", "C:\Your\Path\Here\$BackupDate"),
  ("Description", "C:\Your\Path\Here\$BackupDate"))
$DestinationsRemote =
@(,("Description", "\\Your\Path\Here\$BackupDate"))

# VMs
$VMsOn = @("VM-Name1","VM Name2")
$VMsOff = $VMsOn + @("VM-Name3")

# Windows Server Update Services (WSUS) with Windows Internal Database (WID)
# If you are running WSUS using WID on Windows Server 2012, WID seems to eat
# up memory over time and can cause VMs that were on before to not restart due
# to insuffient RAM. As such, set the following value to True to restart WID
# prior to restarting the VMs to alleviate the issue.
$RestartWID = $false

# Discord
$DiscordTitle = "Monthly Backups"

# Email Settings
$ComputerName = (Get-CIMInstance CIM_ComputerSystem).Name
$EmailSubject = "${ComputerName} - Hyper-V Backup Log: $BackupDate"
$EmailFrom = "no-reply@injabie3.tk"
$EmailTo = "destination@example.com"
$Username = "no-reply@injabie3.tk"
$Password = "your-password-here"

# Log files
$Logfile = "C:\Your\Path\Here"
$LogfileAppend = "C:\Your\Path\Here"
