<?php
// Configure the following for your database.
$HOST="localhost";
$USERCODE="USERCODE";

// MySQL credentials
$USERNAME="USERNAME";
$PASSWORD="PASSWORD";
$DB_NAME="DATABASE";
$TABLE_NAME="TABLE";
